:root {
  --vp-c-brand-1: #e57c08;
  --docsearch-primary-color: var(--vp-c-brand-1);
  --docsearch-logo-color: var(--vp-c-brand-1);
  --vp-c-brand-2: #d16f07;
  --vp-c-brand-3: #bd6d17;
  --vp-font-family-mono: 'Victor Mono', 'Fira Code', 'Monaco', monospace;
  /* --vp-font-family-base: 'IBM Plex Sans' */
  --vp-font-family-base: 'DM Sans'
}

h1, h2, h3, h4, h5, h6, :is(h1, h2, h3, h4, h5, h6) * {
	font-family: 'DM Sans';
}

/* .VPHero {
	font-family: 'IBM Plex Sans' !important;
} */

video, img:not([src^="https://img.shields.io"]), table {
	border-radius: 8px;
}
/*
.vp-doc td {
	border: 3px solid var(--vp-c-brand-1);
} */

dt.technical {
	font-family: Victor Mono;
}

dt {
	margin-top: 1em;
	font-weight: bold;
}

dt::before {
	content: '•';
	margin-right: .5ch;
	opacity: 0.5;
}

dd {
	margin-top: 0.25em;
	margin-left: 2.5em;
}
