:root {
  --vp-c-brand-1: #e57c08;
  --docsearch-primary-color: var(--vp-c-brand-1);
  --docsearch-logo-color: var(--vp-c-brand-1);
  --vp-c-brand-2: #d16f07;
  --vp-c-brand-3: #bd6d17;
  --vp-font-family-mono: 'Victor Mono', 'Fira Code', 'Monaco', monospace;
  /* --vp-font-family-base: 'IBM Plex Sans' */
  --vp-font-family-base: 'DM Sans'
}

h1, h2, h3, h4, h5, h6, :is(h1, h2, h3, h4, h5, h6) * {
	font-family: 'DM Sans';
}

/* .VPHero {
	font-family: 'IBM Plex Sans' !important;
} */

video, img:not([src^="https://img.shields.io"]), table, iframe, .iframe-container {
	border-radius: 8px;
}

iframe {
	border: none;
	background: var(--vp-c-gray-soft);
}

.iframe-container {
	height: 100%;
	width: 100%;
	padding: 1rem;
	background: var(--vp-c-gray-soft);
}
/*
.vp-doc td {
	border: 3px solid var(--vp-c-brand-1);
} */

dt.technical {
	font-family: Victor Mono;
}

dt {
	margin-top: 1em;
	font-weight: bold;
}

dt::before {
	content: '•';
	margin-right: .5ch;
	opacity: 0.5;
}

dd {
	margin-top: 0.25em;
	margin-left: 2.5em;
}

figure {
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
	text-align: center;
}

figure figcaption {
	opacity: 0.75;
}

.side-by-side {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}

.side-by-side figure {
	flex: 1;
	min-width: 200px;
}
