:root {
  --vp-c-brand-1: #e57c08;
  --docsearch-primary-color: var(--vp-c-brand-1);
  --docsearch-logo-color: var(--vp-c-brand-1);
  --vp-c-brand-2: #d16f07;
  --vp-c-brand-3: #bd6d17;
}

dt {
	margin-top: 1em;
	font-weight: bold;
}

dt::before {
	content: '•';
	margin-right: .5ch;
	opacity: 0.5;
}

dd {
	margin-top: 0.25em;
	margin-left: 2.5em;
}
